*{
    font-family: Helvetica;
    color: seashell;
}

body{
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.9)
}

h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
  }
  
  h4 {
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
  }
  
/*   Navigationsbereich */ 
header{
    display:flex;
    justify-content:space-between;
    border-bottom: 1px solid seashell;
    background-color: rgba(0,0,0,0.9);
    position: sticky;
    top: 0;
    z-index: 10px;
    width:100%;
    height:69px;
    padding: 10px;

}

header img{
    height:50px;

}

.nav{
    list-style: none;
    display: flex;
}

.nav li{
    margin-left: 20px;
    font-size: 20px;
}

/*   Hero-Bereich */ 
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:700px;
    background-image:url('../Data/img-mission-background.jpg');
    background-size: cover;
    background-position: center;
}

.mission{
    background-color: rgba(0,0,0,0.9);
    width:100%;
    padding-bottom: 10px;
}

/*   Tea of the Month */ 
.FeaturedSection{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; /* gleichmäßiger Abstand zwischen den Bildern */
}
.tea{
    height: 200px;
    width: 300px;
    margin: 0; /* margin entfernen, Abstand kommt jetzt von gap */
}
/*   Locations */ 
.location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:url('../Data/img-locations-background.jpg');
    min-height: 500px;
    color: seashell;
    margin-top: 50px;

}

.citys{
    display: flex;
    justify-content: center;
    align-items: center;
}

.block{
    width: 300px;
    height: 300px;
    text-align: center;
    background-color: rgba(0,0,0,0.9);
    margin: 15px 20px 0px 20px;
    line-height: 2.5;
}

/*   Footer */ 
footer h5{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
footer a{
    text-decoration: none;
}
.copyright{
    display:flex;
    justify-content: left;
}